<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h1>Question:</h1>
<h2 th:text="${question.question}"></h2>
<h1>Choices:</h1>
<h2 th:text="${question.choices}" class="choices"></h2>

<form th:action="@{/result}" th:object="${question}" method="post">
    <label for="userAnswer">userAnswer</label>
    <input type="text" th:field="*{userAnswer}">
    <small style="color: red" th:errors="*{userAnswer}"></small>

    <!--    id, htmlString, question, choices, answerを再代入 -->
    <input type="hidden" th:field="${question.id}">
    <input type="hidden" th:field="${question.htmlString}">
    <input type="hidden" th:field="${question.question}">
    <input type="hidden" th:field="${question.choices}">
    <input type="hidden" th:field="${question.answer}">

    <button type="submit">回答</button>
</form>

<script type="text/javascript" th:src="@{/js/add_newline.js}"></script>
</body>
</html>