<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>

<body>
<form th:action="@{/register}" th:object="${quiz}"
      method="post">
    <input type="hidden" th:field="*{id}">

    <label for="question">Question</label>
    <input type="text" th:field="*{question}" style="width: 1000px; height: 100px">
    <small style="color: red" th:errors="*{question}"></small>

    <br>

    <label for="choices">Choices</label>
    <input type="text" th:field="*{choices}" style="width: 1000px; height: 100px">
    <small style="color: red" th:errors="*{choices}"></small>

    <br>

    <label for="answer">Answer</label>
    <input type="text" th:field="*{answer}" style="width: 1000px; height: 100px">
    <small style="color: red" th:errors="*{answer}"></small>

    <br>

    <button type="submit">登録</button>
</form>

</body>
